<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4"><b>{{firstName}}</b></h1>
      <br>
      <span>
        <a routerLink="/change-info" class="btn btn-primary" role="button" aria-pressed="true">Edit Account Settings</a>
        <a routerLink="/past-orders" class="btn btn-primary" role="button" aria-pressed="true">View Past Orders</a>
      </span>
    </div>
  </div>