 
 .register-account-container{
    height:750px;
    width:350px;
    background-color:lightgrey;
    border-radius:5px;
    margin:auto;
 }

 .inner-register-account-container {
    padding: 10px;
 } 

 #register-account-header {
    text-align:center;
 }

 #submit-container {
    text-align:center;
 }

 #status-text {
    color:red;
 }