<br>
<div class="register-account-container">

    <div class="inner-register-account-container">

        <h3 id="register-account-header">Register New Account</h3>

        <br>

        <form id="login-form">

            <div class="form-group">

                <label for="inputfirstname"><b>First Name</b></label>
                <input type="text" class="form-control" id="inputfirstname" aria-describedby="emailHelp"
                    name="firstname" placeholder="First Name" [(ngModel)]='firstName'>

            </div>

            <div class="form-group">

                <label for="inputlastname"><b>Last Name</b></label>
                <input type="text" class="form-control" id="inputlastname" aria-describedby="emailHelp"
                    name="lastname" placeholder="Last Name" [(ngModel)]='lastName'>

            </div>

            <div class="form-group">

                <label for="inputusername"><b>Username</b></label>
                <input type="username" class="form-control" id="inputusername" aria-describedby="emailHelp"
                    name="username" placeholder="Username" [(ngModel)]='username'>

            </div>

            <div class="form-group">

                <label for="inputpassword"><b>Password</b></label>
                <input type="password" class="form-control" id="inputpassword" name="password" placeholder="Password" [(ngModel)]='password' minlength="8" required>

            </div>

            <div class="form-group">

                <label for="inputpasswordcheck"><b>Confirm Password</b></label>
                <input type="password" class="form-control" id="inputpasswordcheck" name="confpassword" placeholder="Confirm Password" [(ngModel)]='confPassword' minlength="8" required>

            </div>

            <div class="form-group">

                <label for="inputemail"><b>Email Address</b></label>
                <input type="email" class="form-control" id="inputemail" name="password" placeholder="Email Address" [(ngModel)]='email'>

            </div>

            <div class="form-group">

                <label for="inputphonenumber"><b>Phone Number</b></label>
                <input type="text" class="form-control" id="inputphonenumber" name="phonenumber" placeholder="Phone Number" [(ngModel)]='phoneNumber'>

            </div>

            <div id="submit-container">
                <p id='status-text'>{{status}}</p>
                <button type="submit" class="btn btn-primary" value="register" name="usersubmit"
                    id="submitbutton" (click)='postCreateAccount()'>Register</button>
            </div>

        </form>

    </div>

</div>
<br>
 