<br>
<div class="login-container">

    <div class="inner-login-container">

        <h3 id="login-header">Change your information</h3>

        <form id="login-form">

            <div class="form-group">
                <label for="changefname"><b>First Name</b></label>
                <input type="text" class="form-control" id="changefname"
                    name="firstname" placeholder="First Name" [(ngModel)]='firstName'>
            </div>

            <div class="form-group">
                <label for="changelname"><b>Last Name</b></label>
                <input type="text" class="form-control" id="changelname" 
                    name="lastname" placeholder="Last Name" [(ngModel)]='lastName'>
            </div>

            <div class="form-group">
                <label for="changeemail"><b>Email</b></label>
                <input type="email" class="form-control" id="changeemail"
                    name="email" placeholder="Email" [(ngModel)]='email'>
            </div>

            <div class="form-group">
                <label for="changephone"><b>Phone Number</b></label>
                <input type="tel"  class="form-control" id="changephone" aria-describedby="phoneInput"
                    name="phonenumber" placeholder="Phone Number" [(ngModel)]='phoneNumber'>
            </div>


            <div class="form-group">
                <label for="inputpassword"><b>New Password</b></label>
                <input type="password" class="form-control" id="inputpassword" name="password" placeholder="Password" [(ngModel)]='password' minlength="8" required>
            </div>

            <div class="form-group">
                <label for="inputpassword"><b>Re-enter New Password</b></label>
                <input type="password" class="form-control" id="inputpassword" name="password" placeholder="Password" [(ngModel)]='passwordcheck' minlength="8" required>
            </div>

            <div id="submit-container">
                <p id='status-text'>{{status}}</p>
                <button type="submit" class="btn btn-primary" value="login" name="usersubmit"
                    id="submitbutton" (click)='postChangeInfo()'>Save Changes</button>
            </div>

            
        </form>
    </div>

</div>
<br>
