<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><b>About Us</b></h1>
    <p class="lead">Roadkill Cafe Catering is the brain child of Software Developers, Adam Alouani, Shamir Cetoute, Ryan
      Eckman,
      Patrick Wilson, and Stephen Zappitello. We are a catering company that specializes in Southern Style Barbecue. The
      main pillars that
      our company stands on are Collaboration, Respect, and Integrity.
    </p>
    <p class="lead">
      Our mission is to bring joy and satisfaction to all 
      of our customers by providing them with mouth watering food and top of the line service. 
    </p>
  </div>
</div>
