/* .container {
    background-color: rgba(128, 128, 128, 0.8);  
} */

.jumbotron {
    background-color: rgba(255,255, 255, 0.7);
    height: inherit;
    text-align: center;
}

.lead {
    font-weight:430;
}
