
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4"><b>Menu Packages</b></h1>
      <p class="lead">Each of our meal packages come with freshly baked dinner roles, good old Southern coleslaw, and our famous buttery garlic mashed potatoes!
      </p>
    </div>
</div>

<div class="container" style="text-align: center;">
    <div class="col d-flex justify-content-center">
    
    <div class="row" style="text-align: center;">
        

        <div class="card" *ngFor="let temp of inventoryItems">

            <img src={{temp.menuImg}} class="card-img-top" alt="{{temp.productName}}">

            <div class="card-body">

                <h5 class="card-title">{{temp.productName}}</h5>

                <p class="card-text">{{temp.description}}</p>

                <div class="quantity-holder"> 
                    
                    <span>
                        
                        <fa-icon [icon]="faMinus" class="minus-icon" (click)="temp.decrement()"></fa-icon>

                        <input type="text" class="quantity-text-input" [(ngModel)]="temp.quantity"/>
                        
                        <fa-icon [icon]="faPlus" class="plus-icon" (click)="temp.increment()"></fa-icon>
                        
                    </span>
                </div>
                <p>Number of servings</p>

                <div class="add-to-cart-holder"> 
                    <button type="button" class="btn btn-primary" (click)="addToCart(temp.itemId, temp.quantity)">Add To Cart</button>
                </div>

            </div>
        </div> 
      </div>
    </div>

</div>