.jumbotron {
    background-color: rgba(255,255, 255, 0.7);
    height: inherit;
    text-align: center;
}

.lead {
    font-weight:430;
}

.quantity-holder{
    margin-bottom:0px;
}

.quantity-text-input{
    width: 30px;
    text-align: center;
    margin-left: 2px;
    margin-right: 2px;
}

.plus-icon{
    font-size:32px;
    position:relative;
    top: 6px;
    color:rgb(67, 164, 255);
}

.minus-icon{
    font-size:32px;
    position:relative;
    top: 6px;
    color:rgb(255, 66, 66);
}

.card-img-top{
    width: 960px; 
    height: auto;
    opacity: 0.85;
}

.card{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width:auto; 
    text-align: center; 
    margin-bottom: 8px;
}