#login-cart-holder {
    position: absolute;
    right: 10px;
}

#user-icon {
    position: relative;
    right: 40px; 
    top: 2px; 
    font-size: 1.6em; 
    color:azure;
}

#cart-icon {
    position: relative;
    right: 20px; 
    top: 2px; 
    font-size: 1.6em; 
    color:azure;
}
#user-icon:hover {
    color: cornflowerblue;
    cursor: pointer;
}

#cart-icon:hover {
    color: tomato;
    cursor: pointer;
}

#login-button {
    position: relative; 
    top: -5px;
}

#logout-button {
    position: relative; 
    top: -5px;
}