
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/welcome">Roadkill Cafe Catering</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" id="welcome" routerLink="/welcome">Welcome</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="menu" routerLink="/menu">Menu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="about-us" routerLink="/about-us">About Us</a>
      </li>

      <div id="login-cart-holder">

        <fa-icon *ngIf="username" [icon]="faUser" routerLink="/user-portal" id="user-icon"></fa-icon>

        <fa-icon [icon]="faShoppingCart" routerLink="/cart" id="cart-icon"></fa-icon>

        <a *ngIf="!username" class="btn btn-primary" id="login" routerLink="/login" role="button" id="login-button">Login</a>

        <a *ngIf="username" class="btn btn-danger"  routerLink="/login" role="button" (click)='logout()' id="logout-button">Logout</a>

      </div>
    </ul>
  </div>
</nav>


<router-outlet></router-outlet>