
<div class="jumbotron">
    <h1 class="display-4">Welcome to Roadkill Cafe Catering!</h1>
    <!--<p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p> -->
    <hr class="my-4">
    <!-- <p>Please let us know what you'd like to do:</p> -->
    <a routerLink="/about-us" id= "about-us" class="btn btn-primary" role="button" aria-pressed="true">About Us</a>
    <!-- <button type='submit' id= "about-us" aboutclass="btn btn-primary" role="button" aria-pressed="true" (click)='navAboutUs()'>About Us</button>     -->
    <a routerLink="/menu" id="menu" class="btn btn-primary" role="button" aria-pressed="true">Menu</a>
    <a routerLink="/cart" id="cart" class="btn btn-primary" role="button" aria-pressed="true">Cart</a>
  </div>

