<br>
<div class="forgot-password-container">

    <div class="inner-forgot-password-container">

        <h3 id="forgot-password-header">Recover Password</h3>
        <br>

        <div id="forgot-password-instructions">
            <p>Enter the email address associated with your account and we'll email you a new password.</p>
        </div>

        <form id="login-form">

            <div class="form-group">
                <label id="email-label" for="inputemail"><b>Email Address</b></label>
                <input type="email" class="form-control" id="inputemail" name="email" placeholder="Email Address" [(ngModel)]='email'>
            </div>

            <div style="text-align:center">
                <button type="submit" class="btn btn-primary" value="login" name="recoverysubmit" id="submitbutton" (click)='postRecoverPassword()'>Send Email</button>
            </div>
            
        </form>
    </div>
</div>